* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cadastro-box {
    width: 500px;
    background-color: #1e293b;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

p {
    color: #cbd5e1;
    text-align: center;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 18px;
}

label {
    display: block;
    color: white;
    margin-bottom: 6px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2563eb;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}